@model IEnumerable<BookHotel.Data.RoomNumber>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.King)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Queen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCityView)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRiverView)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSuite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.roomId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.King)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Queen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsCityView)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsRiverView)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsSuite)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.roomId }) |
        @Html.ActionLink("Details", "Details", new { id = item.roomId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.roomId })
    </td>
</tr>
}

</table>
