@model BookHotel.Models.ReservationDetail

@{
    ViewBag.Title = "Details";
}

<h2>Reservation Details</h2>

<div>
    <h4>ReservationDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReservationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffIdLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffIdLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InnCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InnCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfNights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfNights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestlastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestlastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
